#include <zephyr/dt-bindings/gpio/gpio.h>

&gpio1 {
	status = "okay";
};

/ {
	zephyr,user {
		gpio-direct-in-gpios = <&gpio1 5 GPIO_ACTIVE_HIGH>;
		gpio-direct-out-gpios = <&gpio1 6 GPIO_ACTIVE_HIGH>;
	};
};

/ {
	leds {
		compatible = "gpio-leds";

		/* SODIMM 52 - USER_LED_1_RED */
		led1red: led1red {
			label = "USER_LED_1_RED";
			gpios = <&gpio3 0 GPIO_ACTIVE_HIGH>;
		};

		/* SODIMM 54 - USER_LED_1_GREEN */
		led1green: led1green {
			label = "USER_LED_1_GREEN";
			gpios = <&gpio3 1 GPIO_ACTIVE_HIGH>;
		};

		/* SODIMM 56 - USER_LED_2_RED */
		led2red: led2red {
			label = "USER_LED_2_RED";
			gpios = <&gpio3 6 GPIO_ACTIVE_HIGH>;
		};

		/* SODIMM 58 - USER_LED_2_GREEN */
		led2green: led2green {
			label = "USER_LED_2_GREEN";
			gpios = <&gpio3 7 GPIO_ACTIVE_HIGH>;
		};
	};

	aliases {
		led0 = &led1green;
	};
};

&uart4 {
	status = "okay";
	current-speed = <115200>;
};
